<h2 align="center">Add news</h2>

<form name="form-addNews" #addNewsForm = "ngForm">
  <div>
    <label for="title">Title: </label>
    <input [(ngModel)]="newsData.name"
           type="text"
           id="title"
           name="title"
           required/>
  </div>
  <div>
    <label for="text">Text: </label>
    <textarea style="height: 300px"
              [(ngModel)]="newsData.text"
              id="text"
              name="text"
              required="">
    </textarea>
  </div>
  <div>
    <label for="tags">Tags: </label>
    <input [(ngModel)]="newsData.tags"
           type="text"
           id="tags"
           name="tags"
           required/>
  </div>
  <div>
    <label for="img">Image: </label>
    <input type="file" (change)="onSelected($event)" id="img">
  </div>
  <div>
    <button class="btn btn-primary" [disabled]="!addNewsForm.form.valid" (click)="sendNews(newsData)">Create news</button>
  </div>
  <div style="width: 200px" *ngIf="!addNewsForm.form.valid" class="alert alert-danger">Please fill in all fields</div>
</form>
