<div id="allNews">
  <div class="container" id="searchForm">
  <label for="selector">Search by</label>
    <select class="browser-default col 2" id="selector" [(ngModel)]="selectedValue">
      <option value="" disabled selected>Choose your option</option>
      <option value="All">All</option>
      <option value="Author">Author</option>
      <option value="Tags">Tags</option>
    </select>
    <label for="searchField">Keyword</label>
    <input type="search" id="searchField" class="col-4" [(ngModel)]="searchString">
  </div>
  <div id="eachNews" class="container" *ngFor="let news of newNews | search:searchString:selectedValue | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    <div id="author">
      <p id="authorInf" class="col-4" (click)="showAuthorPage(news.user)">Author: {{news.user.firstName}} {{news.user.lastName}}</p>
      <img id="authorAvatar" style="max-width: 200px; max-height: 200px" src="{{news.user.img}}" (click)="showAuthorPage(news.user)">
    </div>
    <div id="news">
      <p>Post title: {{news.name}}</p>
      <p>Post text: {{news.text}}</p>
      <img style="max-width: 100%" src="{{news.img}}">
      <p style="margin-top: 20px">Tags: {{news.tags}}</p>
    </div>
  </div>
  <ngb-pagination id="pagination"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="callSize">
    <ng-template ngbPaginationFirst>First</ng-template>
    <ng-template ngbPaginationLast>Last</ng-template>
    <ng-template ngbPaginationPrevious>Prev</ng-template>
    <ng-template ngbPaginationNext>Next</ng-template>
    <ng-template ngbPaginationEllipsis>...</ng-template>
    <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
  </ngb-pagination>
</div>
