#title {
  display: flex;
  justify-content: center;
}

#searchForm {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

#searchField {
  margin-left: 30px;
}

#eachNews {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

#news {
  margin-left: 20px;
}

#pagination {
  display: flex;
  justify-content: center;
}

#authorInf:hover {
  cursor: pointer;
}

#authorAvatar:hover {
  cursor: pointer;
}

#allNews {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
