<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo" id="logo">News page</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li id="home"><a routerLink="/">Home</a></li>
      <li id="login" *ngIf="!condition"><a routerLink="/login">Log in</a></li>
      <li id="logout" *ngIf="condition"><a (click)="logOut()">Log out</a></li>
      <li id="myprofile" *ngIf="condition"><a (click)="getUserPage()">My Profile</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
