@media only screen and (max-width: 992px) {
  #logo {
    left: 10%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #nav-mobile {
    display: block;
  }
  #home{
    display: block;
  }
  #login{
    display: block;
  }
  #logout{
    display: block;
  }
  #myprofile{
    display: block;
  }
  nav ul a {
    display: block;
  }
}
