<h2>Registration</h2>

<form name="form-login" #loginForm = "ngForm">

  <div class="form-group">
    <label for="email">Email</label>
    <input [(ngModel)]="userReg.email"
           #email="ngModel"
           type="text"
           name="email"
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
           id="email"
           required/>
  </div>
  <!-- This is the error section for email-->
  <div *ngIf="email.invalid && (email.dirty || email.touched)"
       class="alert alert-danger">
    <div *ngIf = "email.errors?.required">
      Email field can't be blank
    </div>
    <div *ngIf = "email.errors?.pattern && email.touched">
      The email id doesn't seem right
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input [(ngModel)]="userReg.password"
           #password="ngModel"
           name="password"
           type="password"
           id="password"
           required/>
  </div>

  <!-- This is the error section for password-->
  <div *ngIf="(password.invalid) && (password.touched)" class="alert alert-danger">

    <div *ngIf = "password.invalid; else nomatch">
      Password needs to be more than 2 characters
    </div>
    <ng-template #nomatch > Passwords don't match </ng-template>
  </div>

  <div class="form-group">
    <label for="firstName">firstName</label>
    <input [(ngModel)]="userReg.firstName"
           type="text"
           id="firstName"
           name="firstName"
           required/>
  </div>

  <div class="form-group">
    <label for="lastName">lastName</label>
    <input [(ngModel)]="userReg.lastName"
           type="text"
           id="lastName"
           name="lastName"
           required/>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" [disabled]="!loginForm.form.valid" (click)="submit(userReg)">Registration</button>
    <div style="width: 300px;" *ngIf="incorrectData" class="alert alert-danger">User whith this email already exist</div>
  </div>
  <button (click)="socialSignIn('google')">Sign in with Google</button>
</form>
