<div class="row" *ngIf="condition">
  <h5>Welcome to your profile</h5>
  <button id="addNews" class="btn btn-primary" (click)="addNews()">Add new news</button>
</div>
<div id="userInf">
  <div *ngFor="let user of userData">
    <p>First name: {{user.firstName}}</p>
    <p>Last name: {{user.lastName}}</p>
    <p>Email: {{user.email}}</p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" *ngIf="condition">
      Edit my profile
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel">Edit what you want to change</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="firstName">First name</label>
            <input id="firstName" [(ngModel)]="updateUserData.firstName" type="text">
            <label for="lastName">Last name</label>
            <input id="lastName" [(ngModel)]="updateUserData.lastName" type="text">
            <div>
              <label for="img">Avatar</label>
              <input id="img" (change)="onSelected($event)" type="file">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateUser(updateUserData)">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="avatar" *ngFor="let user of userData">
    <img style="max-width: 250px; max-height: 250px" src="{{user.img}}">
  </div>
</div>
<div style="display: flex; justify-content: center"><h6>Posts:</h6></div>
<div id="eachNews" class="container" *ngFor="let news of newses | paginate: { itemsPerPage: 5, currentPage: p }">
  <p id="title">Post title: {{news.name}}</p>
  <p>Post text: {{news.text}}</p>
  <div><img style="max-width: 800px" src="{{news.img}}"></div>
  <p style="margin-top: 20px">Tags: {{news.tags}}</p>
</div>
<pagination-controls style="display: flex; justify-content: center" (pageChange)="p = $event"></pagination-controls>
