<h2 align="center">Login or register</h2>

<form name="form-login" #loginForm = "ngForm">

  <div class="form-group">
    <label for="email">Email: </label>
    <input [(ngModel)]="userData.email"
           #email="ngModel"
           type="text"
           name="email"
           id="email"
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
           required/>
  </div>
  <!-- This is the error section for email-->
  <div *ngIf="email.invalid && (email.dirty || email.touched)"
       class="alert alert-danger">
    <div *ngIf = "email.errors?.required">
      Email field can't be blank
    </div>
    <div *ngIf = "email.errors?.pattern && email.touched">
      The email id doesn't seem right
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password: </label>
    <input [(ngModel)]="userData.password"
           #password="ngModel"
           name="password"
           type="password"
           id="password"
           required/>
  </div>
  <!-- This is the error section for password-->
  <div *ngIf="(password.invalid) && (password.touched)" class="alert alert-danger">
    <div *ngIf = "password.invalid; else nomatch">
      Password needs to be more than 2 characters
    </div>
    <ng-template #nomatch > Passwords don't match </ng-template>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" [disabled]="!loginForm.form.valid" (click)="sendUserData(userData)">Login</button>
    <button class="btn btn-primary" (click)="sendToRegistartion()">Registration</button>
    <button (click)="socialSignIn('google')">Sign in with Google</button>
    <div style="width: 200px;" *ngIf="incorrectData" class="alert alert-danger">Email or password are incorrect</div>
  </div>
</form>
